h1, h2, h3, h4
  font-family MuseoSans,"century gothic", arial, sans-serif
  color header_color
  line-height 1.2em
  text-transform uppercase

h2
  &.subtitle
    font normal 24px / 1em MuseoSans, "century gothic", arial
    text-transform none

section
  width 960px
  margin 0 auto
  display block

p
  color body_color
  font-family arial, sans-serif
  font-size 14px

a
  color link_color
  text-decoration none
  &:hover
    color link_hover_color
    text-decoration underline

body
  background-color body_background_color
