.game
  background-image url('../images/game-icons-sprite.png')
  background-repeat no-repeat
  display block
  opacity .5
  width 48px
  height 48px

  &:hover
    cursor pointer
    filter drop-shadow(0 0 3px link_hover_color);
    -webkit-filter drop-shadow(0 0 3px link_hover_color);
    opacity 1


  &.bdo
    width 48px
    height 48px
    background-position -5px -5px


  &.bf
    width 48px
    height 48px
    background-position -63px -5px


  &.bf3
    width 48px
    height 48px
    background-position -121px -5px


  &.bf4
    width 64px
    height 64px
    background-position -5px -63px


  &.bfh
    width 48px
    height 48px
    background-position -179px -5px


  &.h1z1
    width 48px
    height 48px
    background-position -79px -63px


  &.jk
    width 48px
    height 48px
    background-position -137px -63px


  &.ow
    width 48px
    height 48px
    background-position -79px -121px


  &.ps2
    width 48px
    height 48px
    background-position -137px -121px


  &.swb
    width 48px
    height 48px
    background-position -5px -179px


  &.tc
    width 48px
    height 48px
    background-position -63px -179px


  &.wf
    width 48px
    height 48px
    background-position -121px -179px


  &.wg
    width 48px
    height 48px
    background-position -179px -179px


  &.wh
    width 48px
    height 48px
    background-position -237px -5px


  &.wow
    width 48px
    height 48px
    background-position -195px -63px


  &.ws
    width 48px
    height 48px
    background-position -195px -121px


  &.wt
    width 48px
    height 48px
    background-position -237px -179px

