.game
  background-image url('../images/game-icons-sprite.png')
  background-repeat no-repeat
  display block
  opacity .5
  width 48px
  height 48px
  transition opacity 0.6s

  &:hover
    cursor pointer
    filter drop-shadow(0 0 2px #000);
    -webkit-filter drop-shadow(0 0 2px #000);
    opacity 1
    transition 0.6s

  &.bdo
    background-position -5px -5px

  &.bf
    background-position -63px -5px

  &.bf3
    background-position -121px -5px

  &.bf4
    background-position -5px -63px

  &.bfh
    background-position -179px -5px

  &.h1z1
    background-position -79px -63px

  &.jk
    background-position -137px -63px

  &.ow
    background-position -79px -121px

  &.ps2
    background-position -137px -121px

  &.swb
    background-position -5px -179px

  &.tc
    background-position -63px -179px

  &.wf
    background-position -121px -179px

  &.wg
    background-position -179px -179px

  &.wh
    background-position -237px -5px

  &.wow
    background-position -195px -63px

  &.ws
    background-position -195px -121px

  &.wt
    background-position -237px -179px