@media (max-width: 1020px)
  .hero-video video
    display none

  .primary-nav ul li
    background none

  .section--short-width
    display block !important

  section.lobby
    background none !important

    .divisions-list
      margin-top 20px
