// elements
header_color = #fff
body_color = #bfb5b5
link_color = #df4545
link_hover_color = #fff
body_background_color = #090a10
nav_link_color = #6c7384

// sections
supported_games_bg_color = #0b0f12
supported_games_bg_image = '../images/supported-games-bg.jpg'

