.grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0,0,0,.3) url(https://static.wixstatic.com/media/0da768_4371c7e64a49489bb88c536f515f2040.png);
}

video, .ie8-poster {
    position: fixed;
    left: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: fill;
    z-index: 1;
}


