body
  background-color: #090a10

section, .section-sub-section
  font-family MuseoSans, "century gothic", arial, sans-serif !important

  a, strong
    color #df4545

  h1, h2
    color #fff
    padding 15px

  p
    color #bfb5b5
    padding 15px


