@import "partials/variables.styl"

body
  background-color: #090a10

body
  font-family font_face

  a, strong
    color #df4545

  h1, h2
    color #fff
    padding 15px

  p
    color #bfb5b5
    padding 15px


