/**
 * HERO AREA
 */

.divisions-list
  margin-top 160px
  .game-button
    border solid 1px #333
    border-radius 10px
    margin 15px
    transition border-color 0.6s ease
    &:hover
      border-color #fff
      cursor pointer
      transition border-color 0.6s ease


/**
 * GAMES
 */

.collection
  display flex
  flex-direction row
  flex-wrap wrap
  align-items center
  .item
    display flex
    flex-direction column
    flex 20%
    color #fff
    padding 15px
    .title, .members
      font-family font_face
      font-size 20px
      padding-left 75px
    .members
      color rgba(255,255,255,.3)